$white: #ffffff;
$black: #000000;

$grid-gutter-width: 3rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  //meaning: "SM starts from 576px of screen width"
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@function breakpoint($breakpoint){
  @return map-get($grid-breakpoints, $breakpoint)
}


$container-max-widths: (
  //xs: 100%
  sm: 540px,
  //on SM screens container will be 540px width
  md: 720px,
  lg: 960px,
  xl: 1216px // 1170px + 2* 2.3rem (x padding)
);