.headings-text{
    &__small-above{
        color: $orange;
        font-size: 1.6rem;
        line-height: 3.2rem;
        font-family: 'Epilogue';
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3rem;

        @media (min-width: breakpoint(xl)){
            margin: 0 0 2.3rem 0;
        }
    }

    &__big{
        font-family: 'Epilogue';
        font-weight: 800;
        text-transform: none;
        margin: 0 0 1.2rem 0;
        letter-spacing: -0.1rem;

        @media (min-width: breakpoint(xl)){
            letter-spacing: -0.2rem;
            margin: 0 0 2.5rem 0;
        }
    }

    &__small-below{
        font-size: 2.0rem;
        line-height: 3.2rem;
        font-family: 'Epilogue';
        font-weight: 400;
        margin: 0 0 2rem 0;

        @media (min-width: breakpoint(xl)){
            margin: 0 0 2.3rem 0;
        }
    }    

    &__paragraph{
        font-size: 1.6rem;
        line-height: 3.2rem;
        font-family: 'Epilogue';
        font-weight: 400;
        text-transform: none;
        margin: 0 0 1.9rem 0;

        @media (min-width: breakpoint(md)){
            margin: 0 0 3.5rem 0;
        }
    }

    // ================================ SIZES ================================ //

    &--size-big{
        .headings-text__small-above{
            margin: 0 0 2rem 0;

            @media (min-width: breakpoint(lg)){
                margin: 0 0 2.3rem 0;
            }
        }
        .headings-text__big{
            margin: 0 0 2.9rem 0;
            font-size: 5.6rem;
            line-height: 6.4rem;
                     
            @media (min-width: breakpoint(lg)){
                margin: 0 0 2.5rem 0;
                font-size: 7.2rem;
                line-height: 8rem;                    
            }
        }
        .headings-text__small-below{

        }

        .small-below__paragraph{

        }
    }

    &--size-medium{
        .headings-text__small-above{
            margin: 0 0 1.8rem 0;

            @media (min-width: breakpoint(lg)){
                margin: 0 0 2.1rem 0;
            }
        }

        .headings-text__big{
            letter-spacing: 0;
            font-size: 4.0rem;
            line-height: 4.8rem;
            margin: 0 0 2.9rem 0;
                        
            @media (min-width: breakpoint(lg)){
                font-size: 5.6rem;
                line-height: 6.4rem;
                margin: 0 0 2.5rem 0;
                letter-spacing: -0.1rem;   
            }            
        }

        .headings-text__small-below{
            margin: 0 0 1.8rem 0;
        }
    }

    // ================================ COLORS =============================== //    

    &--colors-light{
        .headings-text__big{
            color: $white;
        }
        .headings-text__small-below{
            color: $darkbrown;
        }
        .headings-text__paragraph{
            color: $gray2;
        }
    }

    &--colors-dark{
        .headings-text__big{
            color: $darkbrown;
        }
        .headings-text__small-below{
            color: $darkbrown;
        }
        .headings-text__paragraph{
            color: $darkbrown2;
        }
    }

    // ================================ COLORS =============================== // 

    &--align-center{
        .headings-text__small-above{
            text-align: center;
        }        
        .headings-text__big{
            text-align: center;
        }
        .headings-text__small-below{
            text-align: center;
        }
        .headings-text__paragraph{
            text-align: center;
        }
    }
}