.button{
    border-radius: 0.6rem;
    font-family: 'Epilogue';
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    color: $white;
    text-align: center;
    line-height: 4.8rem;
    
    &:hover{
        text-decoration: none;
    }

    &--width-narrow{
        width: 13.8rem;
        height: 4.8rem;
    }

    &--width-medium{
        width: 15.4rem;
        height: 4.8rem;
    }

    &--width-wide{
        width: 17.0rem;
        height: 4.8rem;
    }

    &--light-no-background{
        border: 1px solid $gray1;
        transition: all 0.3s ease;

        &:hover{
            color: $darkblue;
            background-color: $white;
            border: 1px solid $white;
            transition: all 0.3s ease;
        }
    }

    &--color{
        border: 1px solid $orange;
        background-color: $orange;
        transition: all 0.3s ease;

        &:hover{
            color: $white;
            background-color: $purple;
            border: 1px solid $purple;
            transition: all 0.3s ease;
        }
    }

    &--white-with-shadow{
        box-shadow: 4px 4px 9px 0px rgba(57, 20, 0, 5%);
        border: none;
        background-color: $white;
        transition: all 0.3s ease;
        color: $black;

        &:hover{
            color: $white;
            background-color: $purple;
            transition: all 0.3s ease;
        }
    }

    &--normal-link{
        text-transform: none;
        font-weight: 400;
        font-size: 1.6rem;

        &:hover{
            text-decoration: underline;
        }

    }
}