$white: #ffffff;
$black: #000000;
$whitetransparent: rgba(255, 255, 255, 0.64);
$whitetransparent2: rgba(255, 255, 255, 0.29);
$whitetransparent3: rgba(255, 255, 255, 0.1);
$orange: #ef6d58;
$darkbrown: #391400;
$darkbrown2: rgba(57, 20, 0, 0.64);
$purple: #b550f8;
$darkblue: #28293e;
$gray1: #676877;
$gray2: rgba(255, 255, 255, 0.64);
$beige: #fdf0e9;

$grid-gutter-width: 3rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  //meaning: "SM starts from 576px of screen width"
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@function breakpoint($breakpoint) {
  @return map-get($grid-breakpoints, $breakpoint);
}

$container-max-widths: (
  //xs: 100%
  sm: 540px,
  //on SM screens container will be 540px width
  md: 720px,
  lg: 960px,
  xl: 1216px // 1170px + 2* 2.3rem (x padding)
);
