.header-content{
    margin-top: 1.6rem;

    @media (min-width: breakpoint(md)){
        display: flex;
        flex-direction: row-reverse;
    }

    & > .col:first-of-type{
        @media (min-width: breakpoint(md)){
            margin-top: 11.6rem;
        }

        picture{
            width: 100%;
        }
    }
    & > .col:last-of-type{
        padding-top: 2.9rem;

        @media (min-width: breakpoint(md)){
            padding-top: 3.9rem;
        }

        @media (min-width: breakpoint(xl)){
            padding-top: 10.9rem;
        }

        .person-quote{
            margin-top: 4.8rem;
            
            @media (min-width: breakpoint(md)){
                margin-top: 4rem;
            }
            
            @media (min-width: breakpoint(xl)){
                margin-top: 11.1rem;
            }
        }
    }
}