.header-content{
    margin-top: 1.6rem;

    @media (min-width: breakpoint(md)){
        display: flex;
        flex-direction: row-reverse;
    }

    & > .col:first-of-type{
        @media (min-width: breakpoint(md)){
            margin-top: 9.7rem;
        }
    }
}