.navbar{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    color: $white;
    font-family: 'Epilogue';
    padding: 0 2.4rem;

    @media (min-width: breakpoint(sm)) {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        padding: 0;
    }

    &__brand{
        width: 4.56rem;
        height: 4.34rem;
        grid-row: 1;
        grid-column: 1;
        display: flex;

        h2{
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 700;
            text-decoration: none;
            margin: 1rem 0 0rem 1.5rem;
        }
    }

    &__main-menu{
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        position: absolute;
        width: 100%;
        background-color: $darkblue;
        padding: 10em 0 10rem 0;
        z-index: 1;
        top: 0;
        left: -100%;
        transition: all 0.3s ease;

        @media (min-width: breakpoint(sm)){
            grid-row: 1;
            grid-column-start: 2;
            flex-direction: row;
        }

        &--active{
            left: 0;
            transition: all 0.3s ease;
        }

        & > li{
            font-size: 1.6rem;
            line-height: 3.2rem;
            font-weight: 400;

            &:not(:last-of-type){
                padding: 1.5rem 0;
            }
            &:last-of-type{
                padding: 1.5rem 0;
            }
        }
    }

    &__toggler{
        grid-row: 1;
        grid-column: 2;
        width: 4.8rem;
        height: 4.8rem;
        border: 1px solid $gray1;
        margin-left: auto;
        margin-right: -0.1rem;
        border-radius: 0.5rem;
        z-index: 2;

        span{
            background-color: $white;
            width: 1.6rem;
            height: 0.2rem;
            border-radius: 2rem;
            position: relative;
            left: 1.5rem;
            display: block;
            transition: all 0.3s ease;

            &:first-of-type{
                top: -0.4rem;
                transform: rotate(0);
            }
            &:nth-of-type(2){
                top: 0;
                opacity: 1;
            }
            &:nth-of-type(3){
                top: 0.4rem;
                transform: rotate(0);
            }
        }

        &--active{
            span{
                width: 2rem;
                left: 1.3rem;
                transition: all 0.3s ease;

                &:first-of-type{
                    top: 0.2rem;
                    left: 1.3rem;
                    transform: rotate(45deg);
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    top: -0.2rem;
                    left: 1.3rem;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}